/*
These styles create the images on the cards.

We're using a path to the images included in a directory in our game,
but you can also use an image that is hosted anyhwere on the internet
by using its url instead of a path to a local image.
*/

.ie {background: url(./images/ie.png) no-repeat -5px -15px;}
.fx {background: url(./images/fx.png) no-repeat -5px -15px;}
.cr {background: url(./images/cr.png) no-repeat -5px -15px;}
.sf {background: url(./images/sf.png) no-repeat -5px -15px;}
.op {background: url(./images/op.png) no-repeat -5px -15px;}
.ns {background: url(./images/ns.png) no-repeat -5px -15px;}
.ms {background: url(./images/ms.png) no-repeat -5px -15px;}
.tb {background: url(./images/tb.png) no-repeat -5px -15px;}
.fm {background: url(./images/fm.png) no-repeat -5px -15px;}


/* Styles for the rest of the page */

* {
  padding:0;
  margin:0;
}

a {
  outline: none;
  text-decoration:none;
  color: #DA4930;
}

body {
  text-align: center;
  background-color: #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -moz-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -moz-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -o-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -o-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -webkit-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -webkit-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background-size: auto auto, auto auto, 50px 50px, 50px 50px, auto auto;
  color: #DA4930;
  font-family: "Days One", sans-serif;
}

:-moz-full-screen {
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -moz-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -moz-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background-size: auto auto, auto auto, 50px 50px, 50px 50px, auto auto;
}

:-webkit-full-screen {
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -webkit-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -webkit-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%),  #F26522;
  background-size: auto auto, auto auto, 50px 50px, 50px 50px, auto auto;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #001711;
  width: 760px;
  height: 530px;
  margin: auto;
  display: block;
  box-shadow: 0px 3px 12px #000;
  border-radius: 4px;
  padding: 20px;
}
#gameStats {
  background: #eee;
  width: 100%;
  float: left;
  box-shadow: inset 0 0 8px #000;
  border-radius: 4px;
  padding: 10px 0;
  height: 20px;
  font-size: 16px;
}

#install,
#gameScore,
#reset {
  display: none;
  float: left;
  text-align: left;
  padding: 0 0 0 15px;
}

#install.visible {
  display: block;
}

#install,
#reset {
  cursor: pointer;
}

.baritem {
  display: none;
  float: right;
  text-align: right;
  margin: 0 10px 0 30px;
  cursor: pointer;
  position: relative;
}

.baritem:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #000;
  box-shadow: inset 0 0 3px #DA4930;
  top: 2px;
  left: -25px;
}

.baritem:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 3px #ddd;
  top: 2px;
  left: -25px;
}

#mute.melody:before {
  background-color: rgba(218, 73, 48, 1);
  box-shadow: 0 0 5px rgba(218, 73, 48, 0.7);
}

:fullscreen #fullscreen:before {
  background-color: rgba(218, 73, 48, 1);
  box-shadow: 0 0 5px rgba(218, 73, 48, 0.7);
}

:-moz-full-screen #fullscreen:before {
  background-color: rgba(218, 73, 48, 1);
  box-shadow: 0 0 5px rgba(218, 73, 48, 0.7);
}

:-webkit-full-screen #fullscreen:before {
  background-color: rgba(218, 73, 48, 1);
  box-shadow: 0 0 5px rgba(218, 73, 48, 0.7);
}

#game.play #gameScore, #game.play #reset, #mute.music, #fullscreen.support {
  display: block;
}

#playground {
  margin-top: 58px;
  position: relative;
  height: 500px;
}

#cards {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2;
}

#game.play #cards {
  display: block;
}

/* Define the 3D perspective view and dimension of each card. */
.card {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  width: 110px;
  height: 145px;
  position: absolute;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.reset {
  box-shadow: 0 0 30px #fff;
}

#gameIntro {
  padding-top: 10px;
  text-align: center;
  height: 480px;
  width: 760px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

#game.open #gameIntro {
  opacity: 1;
  z-index: 3;
  background: url(./images/start.png) center center no-repeat;
}

#game.play #gameIntro, #game.end #gameIntro {
  opacity: 0;
  z-index: 0;
  background: url(./images/start.png) center center no-repeat;
}

#gamePlay {
  background: white;
  border-radius: 5px;
  display: block;
  font-size: 2em;
  margin: 350px auto 0;
  padding: 10px;
  width: 150px;
  border: 8px solid #DA4930;
  z-index: 99;
}

#gamePlay:hover, .button:hover {
  background: #F26522 !important;
  color: #fff;
  cursor: pointer;
}

#loading.loaded {
  display: none;
}

#gameComplete {
  background: url(./images/end.png) center 0 no-repeat;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 400px;
  visibility: hidden;
  z-index: 1;
}

#game.end #gameComplete {
  opacity: 1;
  z-index: 3;
  visibility: visible;
  top: 0;
  bottom: 0;
}

#gameComplete a.button {
  background: white;
  border-radius: 5px;
  display: block;
  font-size: 30px;
  margin: 8px auto 0;
  padding: 10px;
  width: 200px;
  border: 8px solid #DA4930;
  text-decoration:none;
}

#result {
  background: white;
  margin: 290px auto 0;
  width: 60%;
  border-radius: 5px;
  font-size: 20px;
  border: 8px solid #DA4930;
  padding: 20px 0;
  position: relative;
}

#result:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 140px;
  top: -50px;
  border: 25px solid;
  border-color: transparent #DA4930 #DA4930 transparent;
}

#result:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 142px;
  top: -30px;
  border: 20px solid;
  border-color: transparent #fff #fff transparent;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition-property: opacity, transform, box-shadow;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden;
  -moz-transition-property: opacity, -moz-transform, box-shadow;
  -moz-transition-duration: .5s;
  -moz-backface-visibility: hidden;
  -o-transition-property: opacity, -o-transform, box-shadow;
  -o-transition-duration: .5s;
  -o-backface-visibility: hidden;
}

.front {
  background: url(./images/card.png) 0 0;
  z-index: 10;
  border-radius: 4px;
}
.back {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  z-index: 8;
  border-radius: 4px;
}
.card:hover .face, .card-flipped .face {
  box-shadow: 0 0 10px #ccc;
}
.card-flipped .front {
  -webkit-transform: rotate3d(0,1,0,180deg) scale(1.1);
  -moz-transform: rotate3d(0,1,0,180deg) scale(1.1);
  -o-transform: scale(1.1);
  z-index: 8;
}
.card-flipped .back {
  -webkit-transform: rotate3d(0,1,0,0deg) scale(1.1);
  -moz-transform: rotate3d(0,1,0,0deg) scale(1.1);
  -o-transform: scale(1.1);
  z-index: 10;
}
.card-removed {
  opacity: 0;
}
