* {
  padding:0;
  margin:0;
}

a {
  outline: none;
  text-decoration:none;
  color: #DA4930;
}

body {
  text-align: center;
  background-color: #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -moz-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -moz-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -o-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -o-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, -webkit-linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), -webkit-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background: url(images/left.png) no-repeat bottom left fixed, url(images/right.png) no-repeat bottom right fixed, linear-gradient(0, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%), #F26522;
  background-size: auto auto, auto auto, 50px 50px, 50px 50px, auto auto;
  color: #DA4930;
  font-family: "Days One", sans-serif;
}

/* The #game element holds the whole game */
#game {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #001711;
  width: 255px;
  height: 420px;
  margin: auto;
  display: block;
  box-shadow: 0px 3px 12px #000;
  background: #001711;
  border-radius: 4px;
  padding: 10px;
}

/* The #gameStats element is the header bar at the top of the game */
#gameStats {
  display: none;
}

#game.play #gameStats {
  display: block;
  background: #eee;
  width: 100%;
  float: left;
  box-shadow: inset 0 0 8px #000;
  border-radius: 4px;
  padding: 8px 0;
  height: 14px;
  font-size: 12px;
}

/* The #reset button and the #gameScore button are in the header bar */
#reset,
#gameScore {
  display: block;
  float: left;
  text-align: left;
  padding: 0 0 0 15px;
}

#reset {
  cursor: pointer;
}

/* The #cards element holds the cards */
#cards {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2;
}

#game.play #cards {
  display: block;
}

/* The .card class styles apply to every card */
.card {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  width: 56px;
  height: 88px;
  position: absolute;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

/* These styles create the images on the cards. We're using a path to the images
   included in a directory in our game, but you can also use an image that is
   hosted anyhwere on the internet by using its url in the "url()" rule. */
.ie {background: url(./images/ie.png) no-repeat; background-size: contain;}
.fx {background: url(./images/fx.png) no-repeat; background-size: contain;}
.cr {background: url(./images/cr.png) no-repeat; background-size: contain;}
.sf {background: url(./images/sf.png) no-repeat; background-size: contain;}
.op {background: url(./images/op.png) no-repeat; background-size: contain;}
.ns {background: url(./images/ns.png) no-repeat; background-size: contain;}
.tb {background: url(./images/tb.png) no-repeat; background-size: contain;}
.fm {background: url(./images/fm.png) no-repeat; background-size: contain;}


/* The .reset class is added to the cards when the game is reset */
.reset {
  box-shadow: 0 0 30px #fff;
}

/* The #gameIntro element holds the screen that shows when you start the app */
#gameIntro {
  text-align: center;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

#game.open #gameIntro {
  opacity: 1;
  z-index: 3;
  background: url(./images/start.png) center center no-repeat;
}

#game.play #gameIntro, #game.end #gameIntro {
  display: none;
}

/* The .button class is appled to the #install, #gamePlay, and #gameAgain buttons */
.button {
  background: white;
  border-radius: 5px;
  font-size: 2em;
  padding: 10px;
  width: 150px;
  border: 8px solid #DA4930;
  z-index: 99;
}

/* :hover styles are applied when the user's mouse hovers over the element */
.button:hover {
  background: #F26522 !important;
  color: #fff;
  cursor: pointer;
}

#install {
  margin: 10px auto 0;
  display: none;
}

#install.visible {
  display: block;
}

#gamePlay {
  margin: 220px auto 0;
  display: block;
}

#loading.loaded {
  display: none;
}

/* The #gameComplete element holds the screen that shows when you finish the game */
#gameComplete {
  background: url(./images/end.png) center 0 no-repeat;
  text-align: center;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

#game.end #gameComplete {
  opacity: 1;
  z-index: 3;
  visibility: visible;
  top: 0;
  bottom: 0;
}

#gameComplete a.button {
  background: white;
  border-radius: 5px;
  display: block;
  font-size: 30px;
  margin: 8px auto 0;
  padding: 10px;
  width: 200px;
  border: 8px solid #DA4930;
  text-decoration:none;
}

#result {
  background: white;
  margin: 150px auto 0;
  width: 60%;
  border-radius: 5px;
  font-size: 20px;
  border: 8px solid #DA4930;
  padding: 20px 0;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition-property: opacity, transform, box-shadow;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden;
  -moz-transition-property: opacity, -moz-transform, box-shadow;
  -moz-transition-duration: .5s;
  -moz-backface-visibility: hidden;
  -o-transition-property: opacity, -o-transform, box-shadow;
  -o-transition-duration: .5s;
  -o-backface-visibility: hidden;
}

.front {
  background: url(./images/card.png) 0 0;
  z-index: 10;
  border-radius: 4px;
}
.back {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  z-index: 8;
  border-radius: 4px;
}
.card:hover .face, .card-flipped .face {
  box-shadow: 0 0 10px #ccc;
}
.card-flipped .front {
  -webkit-transform: rotate3d(0,1,0,180deg) scale(1.1);
  -moz-transform: rotate3d(0,1,0,180deg) scale(1.1);
  -o-transform: scale(1.1);
  z-index: 8;
}
.card-flipped .back {
  -webkit-transform: rotate3d(0,1,0,0deg) scale(1.1);
  -moz-transform: rotate3d(0,1,0,0deg) scale(1.1);
  -o-transform: scale(1.1);
  z-index: 10;
}
.card-removed {
  opacity: 0;
}
